@font-face {
    font-family: Outfit;
    src: url("Outfit-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
}

.logo {
    position: absolute;
    width: 80px;
    height: 75px;
    left: 18px;
    top: 0px;


}

.name {
    position: absolute;
    width: 280px;
    height: 50px;
    left: 73px;
    top: 15px;
}

.header {
    position: relative;
    /* top: 0px; */
    overflow: hidden;
    background: rgb(183, 255, 252);
    background: radial-gradient(circle, rgba(183, 255, 252, 1) 0%, rgba(255, 255, 255, 1) 100%);

}

.header a {
    position: relative;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    left: 400px;
    color: #000000;
    float: left;
    text-align: center;
    padding: 30px 45px;
    text-decoration: none;
    border-radius: 4px;
}

.header a:hover {
    background-color: rgba(83, 179, 243, 0.8);
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;

    position: absolute;
    min-width: 160px;
    background: rgba(201, 241, 247, 0.8);
    border: 1.01007px solid #B5EE88;
    box-shadow: 0px 4.04027px 4.04027px rgba(0, 0, 0, 0.25), 0px 4.04027px 4.04027px rgba(0, 0, 0, 0.25), 0px 4.04027px 4.04027px rgba(0, 0, 0, 0.25);
    border-radius: 10.1007px;
    z-index: 1;
    left: 1300px;
    top: -20px;
}

.dropdown-content a {
    color: black;
    font-family: 'Inika';
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(69, 195, 214, 0.8);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    position: absolute;
    padding: 16px;
    width: 60.6px;
    height: 60.6px;
    cursor: pointer;
    left: 1339.35px;
    top: -100px;
}

/* .cart {
    position: absolute;
    width: 79.8px;
    height: 61.61px;
    left: 900px;
    top: 20px;
} */

.cartname {
    position: absolute;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    left: 1000px;
    top: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

.rectangle {
    position: absolute;
    width: 39px;
    height: 31px;
    left: 1365px;
    top: 15px;

    background: #FFFFFF;
}

.rectangle p {
    position: absolute;
    top: -30px;
    left: 20;
    font-family: 'Inika';
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

.footer-distributed {
    background-color: rgba(171, 235, 255, 1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    position: absolute;
    top: 1200px;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #000000;
    font: normal 36px "Cookie", cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #000000;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #000000;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


.right-content {
    position: absolute;
    width: 688px;
    height: 312px;
    left: 900px;
    top: 200px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
}

.prod-name {
    color: #3FD3CB;
    font-size: 25px;
}

.price {
    color: #000000;
    font-size: 20px;
    position: absolute;
    top: 150px;

}

.inclusive {
    position: absolute;
    top: 170px;
}

.desc {
    width: 500px;
    height: 20px;
    color: #8f9296;
}

.counter {
    position: absolute;
    top: 500px;
    left: 1100px;
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #0052cc;
    color: #fff;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #0052cc;
    user-select: none;
}

.quantity {
    position: absolute;
    top: 505px;
    left: 980px;
    width: 281px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.prod-img {
    position: absolute;
    width: 637px;
    top: 250px;
    right: 700px
}

.ten-lit {
    border-style: solid;
    border-color: #3FD3CB;
    border-width: 5px;
    position: absolute;
    width: 400px;
    height: 500px;
}


.bill-content {
    position: absolute;
    width: 400px;
    height: 250px;
    top: 850px;
    left: 600px;
    background: #FFFBFB;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.bill-content p {
    position: relative;
    left: 80px;
    font-family: 'Inika';
    font-style: normal;
    font-size: 20px;
}

.date {
    position: absolute;
    top: 600px;
    left: 900px;
}

.time {
    position: absolute;
    top: 700px;
    left: 900px;
}

.line {
    position: absolute;
    width: 100%;
    height: 0px;
    top: 800px;
    border: 1px solid #adabab;
}

.hr-sub {
    position: absolute;
    width: 400px;
    height: 0px;
    border: 1px solid #000000;
}

.checkout {
    position: absolute;
    top: 1150px;
    left: 700px;
    width: 200px;
    height: 6px;
    color: #000000;
    background: #A7F9F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.checkout p {
    position: absolute;
    left: 60px;
    columns: black;
    font-family: 'Inika';
    font-style: normal;
    font-size: 20px;
}



/* -------------------------------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100vw;
    min-height: 100vh;
    background: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    max-width: 800px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 1.5rem;
}

.left {
    flex-basis: 50%;
}

.right {
    flex-basis: 50%;
}

form {
    padding: 1rem;
}

h3 {
    margin-top: 1rem;
    color: #2c3e50;
}

form input[type="text"] {
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;
}

#zip {
    display: flex;
    margin-top: 0.5rem;
}

#zip select {
    padding: 0.5rem 0.7rem;
}

#zip input[type="number"] {
    padding: 0.5rem 0.7rem;
    margin-left: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 0.7rem 1.5rem;
    background: #34495e;
    color: white;
    border: none;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #2c3e50;
}


@media only screen and (max-width: 770px) {
    .container {
        flex-direction: column;
    }

    body {
        overflow-x: hidden;
    }
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    width: 400px;
    height: 500px;
    opacity: 1;
    /* border-radius: 20px; */
    background-color: white;
    color: black;
    display: block;
    position: relative;

}