@font-face {
	font-family: Outfit;
	src: url("Outfit-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Outfit;
	scroll-behavior: smooth;
}

.logo {
	position: absolute;
	width: 80px;
	height: 75px;
	left: 18px;
	top: 0px;


}

.name {
	position: absolute;
	width: 280px;
	height: 50px;
	left: 73px;
	top: 15px;
}

.header {
	position: relative;
	/* top: 0px; */
	overflow: hidden;
	background: rgb(183, 255, 252);
	background: radial-gradient(circle, rgba(183, 255, 252, 1) 0%, rgba(255, 255, 255, 1) 100%);

}

.header a {
	position: relative;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 31px;
	text-align: center;
	left: 400px;
	color: #000000;
	float: left;
	text-align: center;
	padding: 30px 45px;
	text-decoration: none;
	border-radius: 4px;
}

.header a:hover {
	background-color: rgba(83, 179, 243, 0.8);
	color: black;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;

	position: absolute;
	min-width: 160px;
	background: rgba(201, 241, 247, 0.8);
	border: 1.01007px solid #B5EE88;
	box-shadow: 0px 4.04027px 4.04027px rgba(0, 0, 0, 0.25), 0px 4.04027px 4.04027px rgba(0, 0, 0, 0.25), 0px 4.04027px 4.04027px rgba(0, 0, 0, 0.25);
	border-radius: 10.1007px;
	z-index: 1;
	left: 1300px;
	top: -20px;
}

.dropdown-content a {
	color: black;
	font-family: 'Inika';
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: rgba(69, 195, 214, 0.8);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropbtn {
	position: absolute;
	padding: 16px;
	width: 60.6px;
	height: 60.6px;
	cursor: pointer;
	left: 1339.35px;
	top: -100px;
}

.cartname {
	position: absolute;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 31px;
	text-align: center;
	left: 1000px;
	top: 30px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+.content {
	padding-top: 102px;
}

body {
	/* background: rgb(215, 183, 255);
	background: radial-gradient(circle, rgba(215, 183, 255, 1) 56%, rgba(65, 26, 119, 1) 100%); */
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(66, 129, 251, 1) 46%, rgba(70, 174, 252, 1) 51%);
}

.payment-back {
	top: -20px;
	left: 900px;
	height: 600px;
	width: 700px;
	position: relative;
}



.left {
	flex-basis: 50%;
}

.right {
	flex-basis: 50%;
}

form {
	padding: 1rem;
}

h3 {
	margin-top: 1rem;
	color: #2c3e50;
}

form input[type="text"] {
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

#zip {
	display: flex;
	margin-top: 0.5rem;
}

#zip select {
	padding: 0.5rem 0.7rem;
}

#zip input[type="number"] {
	padding: 0.5rem 0.7rem;
	margin-left: 5px;
}

input[type="submit"] {
	width: 100%;
	padding: 0.7rem 1.5rem;
	background: #34495e;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
}

input[type="submit"]:hover {
	background: #2c3e50;
}


@media only screen and (max-width: 770px) {
	.container {
		flex-direction: column;
	}

	body {
		overflow-x: hidden;
	}
}